Data Science Fundamentals: R |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 15. [Date Time Values](./00.ipynb) | [readr](./01.ipynb) | [dplyr](./02.ipynb) | [Exercises](./03.ipynb)

# Data Transformation with R

In [1]:
library(IRdisplay)

  display_html("<iframe width='560' height='315' src='https://www.youtube.com/embed/-xzaSEJgd8M?rel=0&amp;controls=0&amp;showinfo=0'</iframe>")

## [readr](https://readr.tidyverse.org/)

#### Read Rectangular Text Data

The goal of readr is to provide a fast and friendly way to read rectangular data (like csv, tsv, and fwf). It is designed to flexibly parse many types of data found in the wild, while still cleanly failing when data unexpectedly changes. If you are new to readr, the best place to start is the data import chapter in R for data science.

# The easiest way to get readr is to install the whole tidyverse:
install.packages("tidyverse")

# Alternatively, install just readr:
install.packages("readr")

### [See readr Cheatsheet](https://rawgit.com/rstudio/cheatsheets/master/data-import.pdf)

- - -

![images](images/slides3.png)

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.1     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

![images](images/slides4.png)

## Reading Comma-Separated Files

In [2]:
readr_example("data/mtcars.csv")

ERROR: Error in readr_example("data/mtcars.csv"): could not find function "readr_example"

In [3]:
?mtcars

In [4]:
mtcars <- read_csv(readr_example("mtcars.csv"))

Parsed with column specification:
cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
)

Note: Fuel consumption, 10 aspects of design and performance

In [3]:
#create a tibble
read_csv("col1,col2,col3
1,2,3
4,5,6")

ERROR: Error in read_csv("col1,col2,col3\n1,2,3\n4,5,6"): could not find function "read_csv"

First line used as column names but this can be changed.

In [8]:
read_csv("a,b,c
1,2,3
4,5,6", col_names=FALSE)

  X1 X2 X3
1 a  b  c
2 1  2  3
3 4  5  6

## Parsing Vetors with readr

Functions ```parse_*()``` take a char vector and return a specialized vector.

In [10]:
parse_logical(c("TRUE","FALSE"))

[1]  TRUE FALSE

![images](images/slides5.png)

In [6]:
parse_integer(c("1","2","3","BOB"))

Warning message:
“1 parsing failure.
row col   expected actual
  4  -- an integer    BOB
”

[1]  1  2  3 NA
attr(,"problems")
# A tibble: 1 x 4
    row   col expected   actual
  <int> <int> <chr>      <chr>
1     4    NA an integer BOB

![images](images/slides6.png)

## Locales

A locale specifies common options varying between languages and places.

In [7]:
locale(date_names = "en", date_format = "%AD", time_format = "%AT",
      decimal_mark = ".", grouping_mark = ",", tz = "UTC", 
      encoding = "UTF-8", asciify = FALSE)

<locale>
Numbers:  123,456.78
Formats:  %AD / %AT
Timezone: UTC
Encoding: UTF-8
<date_names>
Days:   Sunday (Sun), Monday (Mon), Tuesday (Tue), Wednesday (Wed), Thursday
        (Thu), Friday (Fri), Saturday (Sat)
Months: January (Jan), February (Feb), March (Mar), April (Apr), May (May),
        June (Jun), July (Jul), August (Aug), September (Sep), October
        (Oct), November (Nov), December (Dec)
AM/PM:  AM/PM

In [14]:
# to learn more:
vignette("locales")

starting httpd help server ...
 done

### Parsing French Format dates

In [8]:
parse_date("2010-10-01")

[1] "2010-10-01"

In [9]:
parse_date("1 janvier 2010")

Warning message:
“1 parsing failure.
row col   expected         actual
  1  -- date like  1 janvier 2010
”

[1] NA

In [17]:
parse_date("1 janvier 2010", format="%d %B %Y", locale=locale("fr"))

[1] "2010-01-01"

In [10]:
?parse_date

### Parsing Time Periods

In [20]:
#military time
parse_time("19:10 am")

19:10:00

In [23]:
library(lubridate)
time_24hr <- c(1404, 322, 1945, 1005, 945)
hm(time_24hr / 100)

Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union

[1] "14H 4M 0S"  "3H 22M 0S"  "19H 45M 0S" "10H 5M 0S"  "9H 45M 0S"

In [11]:
?strptime

In [25]:
dates <- c("02/27/92", "02/27/92", "01/14/92", "02/28/92", "02/01/92")
times <- c("23:03:20", "22:29:56", "01:03:30", "18:21:03", "16:56:26")
x <- paste(dates, times)
strptime(x, "%m/%d/%y %H:%M:%S")

[1] "1992-02-27 23:03:20 EST" "1992-02-27 22:29:56 EST"
[3] "1992-01-14 01:03:30 EST" "1992-02-28 18:21:03 EST"
[5] "1992-02-01 16:56:26 EST"

In [26]:
parse_datetime("2001-10-10 20:10", locale = locale(tz= "US/Eastern"))

[1] "2001-10-10 20:10:00 EDT"

### Parsing Real Numbers

parse_double("1,23")

In [28]:
parse_double("1,23", locale = locale(decimal_mark = ","))

[1] 1.23

### Parsing Numbers

In [29]:
parse_number("$100")

[1] 100

In [30]:
parse_number("20%")

[1] 20

In [32]:
parse_number("$123,456,789")

[1] 123456789

In [33]:
parse_number("cost: $123.45")

[1] 123.45

In [34]:
#separation used in Switzerland
parse_number("123'456'789", locale = locale(grouping_mark = "''"))

[1] 123456789

### Parsing Factors

Factors are categorical variables with a known set of possible values.

In [36]:
fruits <- c("apple, banana")
parse_factor(c("apple", "banana", "bananana"), levels = fruits)

Warning message:
“3 parsing failures.
row col           expected   actual
  1  -- value in level set apple
  2  -- value in level set banana
  3  -- value in level set bananana
”

[1] <NA> <NA> <NA>
attr(,"problems")
# A tibble: 3 x 4
    row   col expected           actual
  <int> <int> <chr>              <chr>
1     1    NA value in level set apple
2     2    NA value in level set banana
3     3    NA value in level set bananana
Levels: apple, banana

If the levels are not known in advance do this:

In [38]:
parse_factor(c("apple", "banana", "apple"), NULL)

[1] apple  banana apple
Levels: apple banana

## readr's Strategy

```readr``` uses a heuristic to determine column type, using the first 1000 rows.  you can emulate this process with two functions: 
- ```guess_parser()``` returns readr's best guess
- ```parse_guess()``` uses that guess to parse the column

In [39]:
guess_parser("15:01")

[1] "time"

In [40]:
parse_guess("12,352,561")

[1] 12352561

In [41]:
guess_parser("Oct 10, 2010; 15:01")

[1] "character"

In [42]:
parse_guess(c("TRUE","FALSE"))

[1]  TRUE FALSE

If none of the types it tries fails to find a match, then the column will stay as a vector of strings.

If the **strategy** fails because -
- the first 1000 rows might be a special case
- the column might contain a lot of missing values

In [15]:
challenge <- read_csv(readr_example("challenge.csv"))

Parsed with column specification:
cols(
  x = col_double(),
  y = col_logical()
)

Warning message:
“1000 parsing failures.
 row col           expected     actual                                                                                         file
1001   y 1/0/T/F/TRUE/FALSE 2015-01-16 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1002   y 1/0/T/F/TRUE/FALSE 2018-05-18 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1003   y 1/0/T/F/TRUE/FALSE 2015-09-05 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1004   y 1/0/T/F/TRUE/FALSE 2012-11-28 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1005   y 1/0/T/F/TRUE/FALSE 2020-01-13 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
.... ... .................. .......... ............................................................................................
See problems(...) for more details.
”

In [16]:
challenge

     x          y
1     404       NA
2    4172       NA
3    3004       NA
4     787       NA
5      37       NA
6    2332       NA
7    2489       NA
8    1449       NA
9    3665       NA
10   3863       NA
11   4374       NA
12    875       NA
13    172       NA
14   1602       NA
15   2012       NA
16    979       NA
17   2018       NA
18    319       NA
19   1944       NA
20   4878       NA
21   1450       NA
22   3392       NA
23   3677       NA
24    980       NA
25   4903       NA
26   3708       NA
27    258       NA
28   2652       NA
29   3480       NA
30   3443       NA
⋮    ⋮          ⋮
1971 0.14324546 NA
1972 0.42678032 NA
1973 0.56445359 NA
1974 0.18729942 NA
1975 0.60274952 NA
1976 0.73487829 NA
1977 0.06834881 NA
1978 0.78291796 NA
1979 0.92149271 NA
1980 0.04428217 NA
1981 0.71311485 NA
1982 0.90388602 NA
1983 0.73958150 NA
1984 0.17217563 NA
1985 0.18658998 NA
1986 0.38248836 NA
1987 0.45361328 NA
1988 0.45513148 NA
1989 0.17310278 NA
1990 0.30541726 NA
1991 0.86775210 NA
1992 0.26023225 NA
1993 0.68087076 NA
1994 0.85357656 NA
1995 0.80527431 NA
1996 0.16351634 NA
1997 0.47193898 NA
1998 0.71831865 NA
1999 0.26987859 NA
2000 0.60823719 NA

In [17]:
problems(challenge)

     row  col expected           actual
1    1001 y   1/0/T/F/TRUE/FALSE 2015-01-16
2    1002 y   1/0/T/F/TRUE/FALSE 2018-05-18
3    1003 y   1/0/T/F/TRUE/FALSE 2015-09-05
4    1004 y   1/0/T/F/TRUE/FALSE 2012-11-28
5    1005 y   1/0/T/F/TRUE/FALSE 2020-01-13
6    1006 y   1/0/T/F/TRUE/FALSE 2016-04-17
7    1007 y   1/0/T/F/TRUE/FALSE 2011-05-14
8    1008 y   1/0/T/F/TRUE/FALSE 2020-07-18
9    1009 y   1/0/T/F/TRUE/FALSE 2011-04-30
10   1010 y   1/0/T/F/TRUE/FALSE 2010-05-11
11   1011 y   1/0/T/F/TRUE/FALSE 2014-11-02
12   1012 y   1/0/T/F/TRUE/FALSE 2014-06-23
13   1013 y   1/0/T/F/TRUE/FALSE 2017-05-31
14   1014 y   1/0/T/F/TRUE/FALSE 2017-11-18
15   1015 y   1/0/T/F/TRUE/FALSE 2013-04-20
16   1016 y   1/0/T/F/TRUE/FALSE 2010-12-11
17   1017 y   1/0/T/F/TRUE/FALSE 2022-10-10
18   1018 y   1/0/T/F/TRUE/FALSE 2010-11-11
19   1019 y   1/0/T/F/TRUE/FALSE 2015-03-22
20   1020 y   1/0/T/F/TRUE/FALSE 2013-12-25
21   1021 y   1/0/T/F/TRUE/FALSE 2011-02-27
22   1022 y   1/0/T/F/TRUE/FALSE 2015-12-14
23   1023 y   1/0/T/F/TRUE/FALSE 2021-02-10
24   1024 y   1/0/T/F/TRUE/FALSE 2012-11-28
25   1025 y   1/0/T/F/TRUE/FALSE 2020-04-04
26   1026 y   1/0/T/F/TRUE/FALSE 2021-04-08
27   1027 y   1/0/T/F/TRUE/FALSE 2022-03-13
28   1028 y   1/0/T/F/TRUE/FALSE 2010-03-28
29   1029 y   1/0/T/F/TRUE/FALSE 2023-01-04
30   1030 y   1/0/T/F/TRUE/FALSE 2012-04-02
⋮    ⋮    ⋮   ⋮                  ⋮
971  1971 y   1/0/T/F/TRUE/FALSE 2020-06-10
972  1972 y   1/0/T/F/TRUE/FALSE 2013-11-08
973  1973 y   1/0/T/F/TRUE/FALSE 2017-07-12
974  1974 y   1/0/T/F/TRUE/FALSE 2016-08-12
975  1975 y   1/0/T/F/TRUE/FALSE 2022-05-12
976  1976 y   1/0/T/F/TRUE/FALSE 2020-08-11
977  1977 y   1/0/T/F/TRUE/FALSE 2011-10-26
978  1978 y   1/0/T/F/TRUE/FALSE 2015-12-09
979  1979 y   1/0/T/F/TRUE/FALSE 2012-09-27
980  1980 y   1/0/T/F/TRUE/FALSE 2013-02-04
981  1981 y   1/0/T/F/TRUE/FALSE 2010-11-29
982  1982 y   1/0/T/F/TRUE/FALSE 2013-10-16
983  1983 y   1/0/T/F/TRUE/FALSE 2015-04-26
984  1984 y   1/0/T/F/TRUE/FALSE 2011-04-12
985  1985 y   1/0/T/F/TRUE/FALSE 2017-01-30
986  1986 y   1/0/T/F/TRUE/FALSE 2014-06-08
987  1987 y   1/0/T/F/TRUE/FALSE 2016-10-19
988  1988 y   1/0/T/F/TRUE/FALSE 2023-09-01
989  1989 y   1/0/T/F/TRUE/FALSE 2010-01-09
990  1990 y   1/0/T/F/TRUE/FALSE 2020-01-11
991  1991 y   1/0/T/F/TRUE/FALSE 2016-12-16
992  1992 y   1/0/T/F/TRUE/FALSE 2010-01-03
993  1993 y   1/0/T/F/TRUE/FALSE 2016-04-23
994  1994 y   1/0/T/F/TRUE/FALSE 2016-08-10
995  1995 y   1/0/T/F/TRUE/FALSE 2019-11-21
996  1996 y   1/0/T/F/TRUE/FALSE 2018-03-29
997  1997 y   1/0/T/F/TRUE/FALSE 2014-08-04
998  1998 y   1/0/T/F/TRUE/FALSE 2015-08-16
999  1999 y   1/0/T/F/TRUE/FALSE 2020-02-04
1000 2000 y   1/0/T/F/TRUE/FALSE 2019-01-06
     file
1    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
2    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
3    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
4    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
5    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
6    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
7    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
8    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
9    '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
10   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
11   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
12   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
13   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
14   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
15   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
16   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
17   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
18   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
19   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
20   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
21   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
22   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
23   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
24   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
25   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
26   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
27   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
28   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
29   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
30   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
⋮    ⋮
971  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
972  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
973  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
974  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
975  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
976  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
977  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
978  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
979  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
980  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
981  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
982  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
983  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
984  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
985  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
986  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
987  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
988  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
989  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
990  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
991  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
992  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
993  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
994  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
995  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
996  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
997  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
998  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
999  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1000 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'

The first column shoud be double.

In [45]:
# problem above
challenge <- read_csv(readr_example("challenge.csv"),
                     col_types = cols(x = col_integer(), y = col_character()))

Warning message:
“1000 parsing failures.
 row col               expected             actual                                                                                         file
1001   x no trailing characters .23837975086644292 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1002   x no trailing characters .41167997173033655 '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1003   x no trailing characters .7460716762579978  '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1004   x no trailing characters .723450553836301   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
1005   x no trailing characters .614524137461558   '/Library/Frameworks/R.framework/Versions/3.6/Resources/library/readr/extdata/challenge.csv'
.... ... ...................... .................. ............................................................................................
See problems(...) for more details.
”

In [46]:
# problem solved
challenge <- read_csv(readr_example("challenge.csv"),
                     col_types = cols(x = col_double(), y = col_character()))

In [47]:
challenge

     x          y
1     404       NA
2    4172       NA
3    3004       NA
4     787       NA
5      37       NA
6    2332       NA
7    2489       NA
8    1449       NA
9    3665       NA
10   3863       NA
11   4374       NA
12    875       NA
13    172       NA
14   1602       NA
15   2012       NA
16    979       NA
17   2018       NA
18    319       NA
19   1944       NA
20   4878       NA
21   1450       NA
22   3392       NA
23   3677       NA
24    980       NA
25   4903       NA
26   3708       NA
27    258       NA
28   2652       NA
29   3480       NA
30   3443       NA
⋮    ⋮          ⋮
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

In [48]:
tail(challenge)

  x         y
1 0.8052743 2019-11-21
2 0.1635163 2018-03-29
3 0.4719390 2014-08-04
4 0.7183186 2015-08-16
5 0.2698786 2020-02-04
6 0.6082372 2019-01-06

Dates are stored as strings so more to do.

In [18]:
challenge <- read_csv(readr_example("challenge.csv"),
                     col_types = cols(x = col_double(), y = col_date()))

In [19]:
challenge

     x          y
1     404       <NA>
2    4172       <NA>
3    3004       <NA>
4     787       <NA>
5      37       <NA>
6    2332       <NA>
7    2489       <NA>
8    1449       <NA>
9    3665       <NA>
10   3863       <NA>
11   4374       <NA>
12    875       <NA>
13    172       <NA>
14   1602       <NA>
15   2012       <NA>
16    979       <NA>
17   2018       <NA>
18    319       <NA>
19   1944       <NA>
20   4878       <NA>
21   1450       <NA>
22   3392       <NA>
23   3677       <NA>
24    980       <NA>
25   4903       <NA>
26   3708       <NA>
27    258       <NA>
28   2652       <NA>
29   3480       <NA>
30   3443       <NA>
⋮    ⋮          ⋮
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

Every ```parse_xyz()``` function has a corresponding ```col_xyz()``` function.  Remember ```col_xyz()``` tells readr how to load the data.

Diagnose problems easier if convert everything to characters:

In [53]:
challenge2 <- read_csv(readr_example("challenge.csv"),
                     col_types = cols(.default = col_character()) )

In [52]:
type_convert(challenge2)

Parsed with column specification:
cols(
  x = col_double(),
  y = col_date(format = "")
)

     x          y
1     404       <NA>
2    4172       <NA>
3    3004       <NA>
4     787       <NA>
5      37       <NA>
6    2332       <NA>
7    2489       <NA>
8    1449       <NA>
9    3665       <NA>
10   3863       <NA>
11   4374       <NA>
12    875       <NA>
13    172       <NA>
14   1602       <NA>
15   2012       <NA>
16    979       <NA>
17   2018       <NA>
18    319       <NA>
19   1944       <NA>
20   4878       <NA>
21   1450       <NA>
22   3392       <NA>
23   3677       <NA>
24    980       <NA>
25   4903       <NA>
26   3708       <NA>
27    258       <NA>
28   2652       <NA>
29   3480       <NA>
30   3443       <NA>
⋮    ⋮          ⋮
1971 0.14324546 2020-06-10
1972 0.42678032 2013-11-08
1973 0.56445359 2017-07-12
1974 0.18729942 2016-08-12
1975 0.60274952 2022-05-12
1976 0.73487829 2020-08-11
1977 0.06834881 2011-10-26
1978 0.78291796 2015-12-09
1979 0.92149271 2012-09-27
1980 0.04428217 2013-02-04
1981 0.71311485 2010-11-29
1982 0.90388602 2013-10-16
1983 0.73958150 2015-04-26
1984 0.17217563 2011-04-12
1985 0.18658998 2017-01-30
1986 0.38248836 2014-06-08
1987 0.45361328 2016-10-19
1988 0.45513148 2023-09-01
1989 0.17310278 2010-01-09
1990 0.30541726 2020-01-11
1991 0.86775210 2016-12-16
1992 0.26023225 2010-01-03
1993 0.68087076 2016-04-23
1994 0.85357656 2016-08-10
1995 0.80527431 2019-11-21
1996 0.16351634 2018-03-29
1997 0.47193898 2014-08-04
1998 0.71831865 2015-08-16
1999 0.26987859 2020-02-04
2000 0.60823719 2019-01-06

## Importing Other Types Of Data

![images](images/slides7.png)

## Hands On Exercises

### Hands On Exercise 1.
![images](images/handson1.png)

In [2]:
# hands on exercise 1

### Hands On Exercise 2.
![images](images/handson2.png)

In [32]:
# hands on exercise 2
library(tidyverse)
library(readr)

In [29]:
death_data <- read_csv("https://data.cdc.gov/api/views/bi63-dtpu/rows.csv")

Parsed with column specification:
cols(
  Year = col_double(),
  `113 Cause Name` = col_character(),
  `Cause Name` = col_character(),
  State = col_character(),
  Deaths = col_double(),
  `Age-adjusted Death Rate` = col_double()
)

In [31]:
death_data

      Year
1     2017
2     2017
3     2017
4     2017
5     2017
6     2017
7     2017
8     2017
9     2017
10    2017
11    2017
12    2017
13    2017
14    2017
15    2017
16    2017
17    2017
18    2017
19    2017
20    2017
21    2017
22    2017
23    2017
24    2017
25    2017
26    2017
27    2017
28    2017
29    2017
30    2017
⋮     ⋮
10839 1999
10840 1999
10841 1999
10842 1999
10843 1999
10844 1999
10845 1999
10846 1999
10847 1999
10848 1999
10849 1999
10850 1999
10851 1999
10852 1999
10853 1999
10854 1999
10855 1999
10856 1999
10857 1999
10858 1999
10859 1999
10860 1999
10861 1999
10862 1999
10863 1999
10864 1999
10865 1999
10866 1999
10867 1999
10868 1999
      113 Cause Name
1     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
2     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
3     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
4     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
5     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
6     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
7     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
8     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
9     Accidents (unintentional injuries) (V01-X59,Y85-Y86)
10    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
11    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
12    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
13    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
14    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
15    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
16    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
17    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
18    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
19    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
20    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
21    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
22    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
23    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
24    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
25    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
26    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
27    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
28    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
29    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
30    Accidents (unintentional injuries) (V01-X59,Y85-Y86)
⋮     ⋮
10839 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10840 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10841 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10842 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10843 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10844 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10845 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10846 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10847 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10848 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10849 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10850 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10851 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10852 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10853 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10854 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10855 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10856 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10857 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10858 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10859 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10860 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10861 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10862 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10863 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10864 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10865 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10866 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10867 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
10868 Nephritis, nephrotic syndrome and nephrosis (N00-N07,N17-N19,N25-N27)
      Cause Name             State                Deaths
1     Unintentional injuries United States        169936
2     Unintentional injuries Alabama                2703
3     Unintentional injuries Alaska                  436
4     Unintentional injuries Arizona                4184
5     Unintentional injuries Arkansas               1625
6     Unintentional injuries California            13840
7     Unintentional injuries Colorado               3037
8     Unintentional injuries Connecticut            2078
9     Unintentional injuries Delaware                608
10    Unintentional injuries District of Columbia    427
11    Unintentional injuries Florida               13059
12    Unintentional injuries Georgia                4712
13    Unintentional injuries Hawaii                  585
14    Unintentional injuries Idaho                   876
15    Unintentional injuries Illinois               6019
16    Unintentional injuries Indiana                3978
17    Unintentional injuries Iowa                   1536
18    Unintentional injuries Kansas                 1567
19    Unintentional injuries Kentucky               3264
20    Unintentional injuries Louisiana              2780
21    Unintentional injuries Maine                   990
22    Unintentional injuries Maryland               2408
23    Unintentional injuries Massachusetts          3821
24    Unintentional injuries Michigan               5623
25    Unintentional injuries Minnesota              2788
26    Unintentional injuries Mississippi            1738
27    Unintentional injuries Missouri               3776
28    Unintentional injuries Montana                 579
29    Unintentional injuries Nebraska                811
30    Unintentional injuries Nevada                 1496
⋮     ⋮                      ⋮                    ⋮
10839 Kidney disease         Michigan              1417
10840 Kidney disease         Minnesota              605
10841 Kidney disease         Mississippi            623
10842 Kidney disease         Missouri               907
10843 Kidney disease         Montana                 92
10844 Kidney disease         Nebraska               232
10845 Kidney disease         Nevada                 298
10846 Kidney disease         New Hampshire           93
10847 Kidney disease         New Jersey            1380
10848 Kidney disease         New Mexico             162
10849 Kidney disease         New York              2302
10850 Kidney disease         North Carolina        1138
10851 Kidney disease         North Dakota            85
10852 Kidney disease         Ohio                  1748
10853 Kidney disease         Oklahoma               425
10854 Kidney disease         Oregon                 260
10855 Kidney disease         Pennsylvania          2680
10856 Kidney disease         Rhode Island           111
10857 Kidney disease         South Carolina         434
10858 Kidney disease         South Dakota            97
10859 Kidney disease         Tennessee              675
10860 Kidney disease         Texas                 1669
10861 Kidney disease         United States        35525
10862 Kidney disease         Utah                   135
10863 Kidney disease         Vermont                 56
10864 Kidney disease         Virginia              1035
10865 Kidney disease         Washington             278
10866 Kidney disease         West Virginia          345
10867 Kidney disease         Wisconsin              677
10868 Kidney disease         Wyoming                 30
      Age-adjusted Death Rate
1     49.4
2     53.8
3     63.7
4     56.2
5     51.8
6     33.2
7     53.6
8     53.2
9     61.9
10    61.0
11    56.1
12    45.2
13    35.7
14    49.8
15    44.4
16    58.7
17    42.8
18    49.4
19    72.9
20    58.9
21    68.0
22    36.9
23    51.5
24    53.0
25    44.6
26    56.3
27    58.8
28    50.2
29    38.5
30    47.8
⋮     ⋮
10839 15.0
10840 12.1
10841 23.2
10842 15.1
10843  9.6
10844 12.1
10845 19.2
10846  8.0
10847 15.9
10848 10.1
10849 12.0
10850 15.4
10851 10.5
10852 15.0
10853 11.9
10854  7.3
10855 18.0
10856  9.0
10857 11.8
10858 10.8
10859 12.3
10860 10.3
10861 13.0
10862  9.1
10863  9.2
10864 16.9
10865  5.2
10866 16.4
10867 11.9
10868  6.8

In [28]:
?readr

### Hands On Exercise 3.
![images](images/handson3.png)

In [4]:
# hands on exercise 3

In [ ]:
sat_data <- read_csv("https://data.cityofnewyork.us/api/views/zt9s-n5aj/rows.csv")

### Hands On Exercise 4.
![images](images/handson4.png)

In [5]:
# hands on exercise 4