Data Science Fundamentals: R |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 14. [tidyverse](./00.ipynb) | [R Markdown](./01.ipynb) | [R + Shiny App](./02.ipynb) | [Basic Visualization](./03.ipynb) | [Tibbles](./04.ipynb)  | [ggplot2](./05.ipynb) | [Statistical Transformations](./06.ipynb) | [Exercises](./07.ipynb)

# [tidyverse](https://www.tidyverse.org/)

![tidyverse](images/slides1.png)

In [1]:
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/39/rw094bh97s1fm7lfmg_nwcxm0000gn/T//RtmpPkWYlX/downloaded_packages

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.1     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

![tidyverse](images/slides2.png)

## Loading JSON Files

In [4]:
install.packages("rjson")

The downloaded binary packages are in
	/var/folders/39/rw094bh97s1fm7lfmg_nwcxm0000gn/T//RtmpPkWYlX/downloaded_packages

In [8]:
# Load the package required to read JSON files.
library("rjson")

# Give the input file name to the function.
result <- fromJSON(file = "dataSets/input.json")

# Print the result.
print(result)

$ID
[1] "1" "2" "3" "4" "5" "6" "7" "8"

$Name
[1] "Rick"     "Dan"      "Michelle" "Ryan"     "Gary"     "Nina"     "Simon"
[8] "Guru"

$Salary
[1] "623.3"  "515.2"  "611"    "729"    "843.25" "578"    "632.8"  "722.5"

$StartDate
[1] "1/1/2012"   "9/23/2013"  "11/15/2014" "5/11/2014"  "3/27/2015"
[6] "5/21/2013"  "7/30/2013"  "6/17/2014"

$Dept
[1] "IT"         "Operations" "IT"         "HR"         "Finance"
[6] "IT"         "Operations" "Finance"

In [6]:
library("rjson")

result <- fromJSON(file = "dataSets/input.json")

json_data_frame <- as.data.frame(result)

In [7]:
json_data_frame

  ID Name     Salary StartDate  Dept
1 1  Rick     623.3  1/1/2012   IT
2 2  Dan      515.2  9/23/2013  Operations
3 3  Michelle 611    11/15/2014 IT
4 4  Ryan     729    5/11/2014  HR
5 5  Gary     843.25 3/27/2015  Finance
6 6  Nina     578    5/21/2013  IT
7 7  Simon    632.8  7/30/2013  Operations
8 8  Guru     722.5  6/17/2014  Finance